/* Define custom CSS variables with HEX colors */
:root {
  --gunmetal: #2d3142ff;
  --uranian-blue: #b0d7ffff;
  --french-gray: #adacb5ff;
  --lavender-web: #eae8ffff;
  --platinum: #d8d5dbff;
}

/* Styling for the body */
body {
  /* Center content horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Background gradient */
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

/* Keyframes for animating the top text */
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

/* Keyframes for animating the bottom text */
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

/* Styling for the animated title */
.animated-title {
  /* Set text color and font family */
  color: var(--lavender-web);
  font-family: "Montserrat", sans-serif;
  /* Set dimensions and position */
  height: 90vmin;
  width: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set font weight and text transformation */
  font-weight: 400;
  text-transform: uppercase;
  /* Ensure title appears above other content */
  z-index: 1;
}

/* Styling for the top and bottom text sections */
.animated-title > div {
  /* Divide title into two sections */
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

/* Styling for the text inside sections */
.animated-title > div div {
  /* Set font size and padding */
  font-size: 50px;
  padding: 2vmin 0;
  position: absolute;
}

/* Styling for individual text spans */
.animated-title > div div span {
  display: block;
  color: var(--uranian-blue);
}

/* Styling for top text section */
.animated-title > div.text-top {
  /* Add border to top text section */
  border-bottom: 1vmin solid var(--uranian-blue);
  top: 0;
}

/* Animation for revealing top text */
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

/* Color for first span in top text */
.animated-title > div.text-top div span:first-child {
  color: var(--uranian-blue);
}

/* Styling for bottom text section */
.animated-title > div.text-bottom {
  bottom: 0;
  color: var(--uranian-blue);
}

/* Animation for revealing bottom text */
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);

}

/* Keyframes for moving stars animation */
@keyframes move-stars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh); /* Change the value according to your preference */
  }
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* Reset margins and padding */
* {
  margin: 0px;
  padding: 0px;
}

/* Styling for the star animation area */
.area {
  /* Set background gradient */
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  /* Set dimensions */
  width: 100%;
  height: 100vh;
}

/* Styling for the star animation circles */
.circles {
  /* Position circles absolutely */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Hide overflow */
  overflow: hidden;
}

/* Styling for individual stars */
.circles li {
  /* Position stars absolutely */
  position: absolute;
  display: block;
  list-style: none;
  /* Set initial dimensions and background */
  width: 20px;
  height: 20px;
  background: var(--french-gray);
  /* Animation properties */
  animation: animate 25s linear infinite;
  bottom: -150px;
}

/* Specific styling for each star */
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* Keyframes for star animation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


  

  
 
  

 


  
 