:root {
    /* CSS HEX */
--gunmetal: #2d3142ff;
--uranian-blue: #b0d7ffff;
--french-gray: #adacb5ff;
--lavender-web: #eae8ffff;
--platinum: #d8d5dbff;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    
    
}

#menuToggle {
    display: block;
    position: fixed; 
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#menuToggle a:hover {

    color: var(--uranian-blue);
    text-decoration: underline;

}

#menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--gunmetal);
    border-radius: 3px;

    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span: :first-child {
    transform-origin 0% 0%;
}

#menuToggle span:nth-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--uranian-blue);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed; 
    width: 200px;
    top: 0;
    right: 0; 
    padding: 30px;
    padding-top: 20px;
    background: var(--gunmetal);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    margin: 0;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}




.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
    
}

$num-of-slide: 5;

.wrapper {
    max-width: 60em;
    margin: 1em auto;
    position: relative;
}

input {
    display: none;
}

.inner {
    width: percentage(num-of-slide);
    line-height: 0;
}

article {
    width: percentage(1/$num-of=slide);
    float: left;
   
}

.logo img {
    position: absolute;
    width: 130px;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1;

}  














    








